:root {
    --primary-color: #92CCCE;
    --secondary-color: #455978;
    --tertiary-color: #31353D;

    --list-font-size: 24px;
    --borders: 3px solid;

    /* Keeps the content inside about-me, work, and contact consistent */
    --content-width: 80%;
    --content-header-width: 20%;
}

* {
    font-family: 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Remove native formatting from anchor tags */
header a, 
footer a {
    text-decoration: none;
    color: var(--primary-color)
}

section h1, 
footer h1 {
    font-size: 50px;
    color: var(--secondary-color);
    border-right: var(--borders) var(--secondary-color);
    /* display: inline-block; test removal */
    padding: 5px 10px;
    text-align: right;
    width: var(--content-header-width);   
}

/* Header Start */

header {
    background: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

header h1 {
    background: var(--primary-color);
    color: var(--tertiary-color);
    font-size: 50px;
    display: inline-block;
    padding: 5px 5px 5px 50px;
    margin: 1.5% 0;
}

header nav {
    color: var(--primary-color);
    font-weight: lighter;
    /* display: flex; test removal
    flex-wrap: wrap; */
    justify-content: space-between;
    margin: 1.5% 5% 1.5% 0;
}

header nav ul, 
footer nav ul {
    list-style: none;
    display: flex; 
    flex-wrap: wrap; /*test removal*/
    justify-content: space-between;
    align-content: center;
    /* align-items: center; */
    margin: 1.5% 0 1.5% 0;
}

header nav ul li {
    border-bottom: var(--borders) var(--primary-color);
    font-size: var(--list-font-size);
    display: inline-block; 
    padding: 5px 10px;
    margin: 10px;
}

/* Header End */

.hero {
    background: var(--primary-color);
    color: var(--tertiary-color);
    display: flex;
    justify-content: right;
    background-image: url("../images/aliaksei-lepik-wvl253w-KrY-unsplash.jpg");
    background-size: cover;
    background-position: 20%;
    background-attachment: fixed;
    height: 200px;
    position: relative;
}

/* Position and style sub-heading */
.hero h2 {
    text-align: center;
    padding: 10px;
    margin-right: 5%;
    background: var(--primary-color);
    position: absolute;
    bottom: 10%;
}

/* align */
.content article {
    margin: 20px 0;
    width: 95%;
}


.about-me {
    display: flex;
    justify-content: space-between;
}

.about-me p {
    color: var(--secondary-color);
    /* display: inline-block; */
    padding: 0 10px;
    width: var(--content-width);
}

.work {
    display: flex;
    justify-content: space-between;
}

.projects {
    display: flex;
    justify-content: space-between;
    align-content: space-evenly;
    flex-wrap: wrap;
    width: var(--content-width);
    padding: 0 12px;
}

.project-container {
    border: var(--borders) var(--primary-color);
    flex-grow: 1;
    width: 47%;
    height: 150px;
    margin: 5px 0;
    object-fit: cover;
    position: relative;
    /*work on justifying and aligning the content to get better spacing*/
}

.project-container h3 {
    color: var(--tertiary-color);
    background: var(--primary-color);
    font-weight: bolder;
    padding: 5px;
    position: absolute;
    bottom: 10%;
    line-height: 1.2;
}

.project-container h3 p {
    font-size: smaller;
    font-weight: lighter;
}

.project-container img {
    filter: brightness(65%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.project-container img:hover {
    filter: brightness(100%);
}

.primary-project {
    height: 300px;
    width: 100%;
    margin-top: 0;
}

/* Helps get the spacing to look consistent on the smaller projects */
.margin-right {
    margin-right: 7px;
}

.margin-left {
    margin-left: 7px;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer a {
    color: var(--secondary-color);
}

footer nav {
    width: var(--content-width);
    padding: 0 10px;
    /* flex-wrap: wrap;test removal */
    justify-content: space-between;
    margin: 1.5% 5% 1.5% 0;
}

footer nav li {
    color: var(--secondary-color);
    border-bottom: var(--borders) var(--secondary-color);
    font-size: var(--list-font-size);
    font-weight: lighter;
    /* display: flex;test removal */
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    padding: 3px 10px;
    margin: 10px;
}

@media screen and (max-width: 980px){
    section h1, 
    footer h1{
        font-size: 40px;
    }

}

@media screen and (max-width: 768px){

    header {
        justify-content: center;
    }

    header h1 {
        margin: 0;
        padding: 5px;
        width: -webkit-fill-available;
        text-align: center;
    }

    header nav {
        margin: 1%;
        justify-content: space-evenly;
    }

    .hero{
        height: 150px;
        justify-content: center;
    }

    .hero h2 {
        margin: 0;
    }

    section h1, footer h1{
        font-size: 32px;
    } 
}

@media screen and (max-width: 575px){

    .primary-project{
        height: 150px;
    }

    section h1, 
    footer h1{
        font-size: 32px;
        width: 100%;
        text-align: left;
        border-right: none;
        border-bottom: var(--borders);
        padding: inherit;
    }

    header nav ul li {
        font-size: 16px;
        padding: 5px 8px;
    }


    .content article, 
    footer {
        margin: 20px;
        width: auto;
    }

    /* Stack content when screen is thinner */
    .about-me, 
    .work, 
    footer {
        flex-direction: column;
    }

    .project-container, 
    footer nav{
        width: 100%;
        justify-content: center;
    }

    /* Handles making the column look consistent */
    .margin-left{
        margin-left: 0;
    }

    .margin-right{
        margin-right: 0;
    }

    .projects, 
    .about-me p {
        width: auto;
        margin-top: 20px;
        padding: inherit;
    }

    footer nav {
        margin: 0;
        width: auto;
        padding: 0;

    }

    /* need to fully align to left, probably get rid of the margins */
    footer nav ul {
        flex-direction: column;
        align-items: baseline;
        align-content: baseline;
    }

    footer nav ul li {
        margin: 0;
        width: fit-content;
    }
    

}